@use './mixins' as *;

.tasks-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 15px;

  @include media('>=tablet') {
    flex-direction: row;
    justify-content: space-between;
  }
}